.home-header{
    /* background-color: rgb(151, 149, 149); */
    display: grid;
    position: fixed;
    padding: 15px;
    position: relative;
}
.banner{
   position: relative;
   margin-top: 200px;
   margin-left: 70px;
}

.middel{
    text-align: center;
    
}
.heart{
    /* border:  solid red; */
    color: red;
    /* background-color: red; */
    
}
/* .center{
    padding-left: 900px;
} */

/* in index styling for the images */
/* .rowdd{
    display: flex;
} */

/* five button  */
.five-btn{
   text-align: center;
}