.home-header{
    display: grid;
    position: sticky;
}
.banner{
    margin-top: 900px;
}

.middel{
    text-align: center;
}
.heart{
    /* border:  solid red; */
    color: red;
    /* background-color: red; */
    
}
/* .center{
    padding-left: 900px;
} */
